/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #a8d4df, #4597ab);
    padding: 15px;
}

.card {
    background-color: #ffffff;
    color: #333333;
    border-radius: 10px;
    border: none;
}

.card h1 {
    font-weight: bold;
}

.input-group input {
    background-color: #f8f9fa;
    color: #181818;
}

.input-group button {
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: #57d5f5;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #ddd;
    border-radius: 10px;
}

input[type="range"]:focus {
    outline: none;
}

button {
    transition: all 0.3s ease;
}

button:hover {
    background-color: #57d5f5;
    border-color: #57d5f5;
    color: #fff;
}

#copy{
    background-color: #57d5f5;
    border-color: #57d5f5;
    color: #fff;
    font-weight: bold;
}
